.educations-container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.educations-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: crimson;
    width: 100%;
    height: auto;
    padding: 2rem;
    gap: 1rem;
    margin: 0 2rem 2rem 2rem;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    box-sizing: border-box;
}