.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aqua;
    align-items: center;
    flex-wrap: wrap;
}

.header-nav-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}