.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 1rem auto;
    gap: 1rem;
    width: 100%;
}