.projects-container {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

.project-components-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    background-color: darkkhaki;
    padding: 1rem;
    height: auto;
    width: 100%;
    margin: 2rem 0;
    box-sizing: border-box;
}

.projects-selectors-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.projects-selectors-container button {
    font-size: 1rem;
}