.project-container {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    padding: 20px;
    width: clamp(200px, 60vw, 300px);
    height: clamp(200px, 50vw, 100%);
}

.project-photo-container {
    width: 100%;
    aspect-ratio: 16/6;
    min-height: 30px;
    overflow: hidden;
}

.project-photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-buttons-container ul {
    gap: 20px;
}